$wrap-width: 980px;
$wrap-padding: 40px;
$default-ease: ease;
$default-anim-time: .2s;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
	font-family: 'museo_sans_cyrl';
	color: #444444;
}

body {
	min-width: $wrap-width + $wrap-padding*2;
}

.wrapper {
	margin: 0 auto;
	width: $wrap-width;
	padding: 0 $wrap-padding;
}

.hidden {
	visibility: hidden !important;
	display: none !important;
}

.js-tooltip {
  position: absolute;
  display: none;
  z-index: 99;
  width: 230px;
  height: 200px;
  line-height: 200px;
  margin-top: -100px;

  &.tooltip-dark {
   .js-tooltip-body {
    background: #f6f6f6;

    &:before {
      border-color: transparent #f6f6f6 transparent transparent;
    }
   }
  }

  .js-tooltip-body {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    width: 100%;
    padding: 18px;
    background: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 300;

    &:before {
      content: "";
      position: absolute;
      left: -10px;
      top: 50%;
      margin-top: -10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 10px 10px 0;
      border-color: transparent #fff transparent transparent;
    }
  }

  &.tooltip-right {
    .js-tooltip-body {
      &:before {
        content: "";
        position: absolute;
        right: auto;
        left: 100%;
        top: 50%;
        margin-top: -10px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent #fff;
      }
    }
  }
}

.sitemap {
  position: absolute;
  box-sizing: border-box;
  min-height: 100%;
  width: 100%;
  top: 0;
  padding-top: 100px;
  background: #0b7c9e;
  color: #fff;

  .sitemap-cont {
    padding: 100px 0 100px 180px;

    .map-title {
      font-weight: 100;
      font-size: 38px;
      margin: 0 0 90px;
    }

    .map-links {
      margin: 0 0 35px;
      padding: 0;
      list-style: none;

      li {
        margin-bottom: 15px;
        font-size: 14px;
      }

      a {
        color: #fff;
        transition: color .2s ease;
        text-decoration: none;

        &:hover {
          color: #7cc8df;
        }
      }

      .map-parent {
        opacity: .5;
      }
    }
  }
}

[data-promise-text] {
  cursor: pointer;
}

.fl-r {
  float: right;
}


/* STICKY FOOTER */
html, body {
  height: 100%;
}

.main-wrapper {
  min-height: 100%;
  margin-bottom: -100px; 
  overflow: hidden;
}

.main-wrapper:after {
  content: "";
  display: block;
}

.main-footer, .main-wrapper:after {
  height: 100px;
}

.main-footer {
  background: orange;
}

.loading-link {
  position: relative;

  &:after {
    @extend .fi;
    position: absolute;
    left: 100%;
    margin-left: .8em;
    content: "\e605";
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
  }

  &.sms-btn {
    &:after {
      top: 50%;
      margin-top: -12.5px;
      font-size: 25px;
      margin-left: .5em;
      color: #12b8b8;
    }
  }
}

.js-valid-errors {
  display: none;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}