.promise-item, .promise-make {
	&.type-green {
		background-color: darken(#7bc800, 10%);
		
		&:before {
			background-image: url(../images/patterns/3.png);
		}
	}
	&.type-aqua {
		background-color: darken(#07cbcc, 10%);

		&:before {
			background-image: url(../images/patterns/4.png);
		}
	}
	&.type-yellow {
		background-color: darken(#fee000, 10%);

		&:before {
			background-image: url(../images/patterns/5.png);
			opacity: .24;
		}
	}
	&.type-blue {
		background-color: darken(#0f9fce, 10%);

		&:before {
			background-image: url(../images/patterns/1.png);
		}
	}
	&.type-pink {
		background-color: darken(#dbabc8, 10%);

		&:before {
			background-image: url(../images/patterns/2.png);
		}
	}
	&.type-promo {
		background-color: darken(#b9f1f7, 10%);
	}
}

.promise-item {
	&.type-green {
		&:hover {
			background-color: darken(#7bc800, 17.5%);
		}
	}
	&.type-aqua {
		&:hover {
			background-color: darken(#07cbcc, 17.5%);
		}
	}
	&.type-yellow {
		&:hover {
			background-color: darken(#fee000, 17.5%);
		}
	}
	&.type-blue {
		&:hover {
			background-color: darken(#0f9fce, 17.5%);
		}
	}
	&.type-pink {
		&:hover {
			background-color: darken(#dbabc8, 17.5%);
		}
	}
	&.type-promo {
		background-color: darken(#b9f1f7, 10%);
	}
}

.color-item {
	&.type-green {
		background-image: url(../images/circles/green.png);
	}
	&.type-aqua {
		background-image: url(../images/circles/aqua.png);
	}
	&.type-yellow {
		background-image: url(../images/circles/yellow.png);
	}
	&.type-blue {
		background-image: url(../images/circles/blue.png);
	}
	&.type-pink {
		background-image: url(../images/circles/pink.png);
	}
}