.promise-item, .promise-make {
	&.type-green {
		background-color: #7bc800;
		
		&:before {
			background-image: url(../images/patterns/3.png);
		}
	}
	&.type-aqua {
		background-color: #07cbcc;

		&:before {
			background-image: url(../images/patterns/4.png);
		}
	}
	&.type-yellow {
		background-color: #fee000;

		&:before {
			background-image: url(../images/patterns/5.png);
			opacity: .24;
		}
	}
	&.type-blue {
		background-color: #0f9fce;

		&:before {
			background-image: url(../images/patterns/1.png);
		}
	}
	&.type-pink {
		background-color: #dbabc8;

		&:before {
			background-image: url(../images/patterns/2.png);
		}
	}
	&.type-promo {
		background-color: #b9f1f7;
	}
}

.color-item {
	&.type-green {
		background-image: url(../images/circles/green.png);
	}
	&.type-aqua {
		background-image: url(../images/circles/aqua.png);
	}
	&.type-yellow {
		background-image: url(../images/circles/yellow.png);
	}
	&.type-blue {
		background-image: url(../images/circles/blue.png);
	}
	&.type-pink {
		background-image: url(../images/circles/pink.png);
	}
}