.us-btn {
	display: inline-block;
	padding: 0 30px;
	height: 60px;
	line-height: 60px;
	border-radius: 60px;
	background: #11b8b8;
	border: 0;
	font-size: 21px;
	font-weight: 500;
	outline: 0;
	color: #fff;
	cursor: pointer;
	transition: opacity $default-anim-time $default-ease;

	&:hover {
		opacity: .8;
	}
}

.us-input {
	height: 50px;
	width: 100%;
	outline: 0;
	border: 0;
	border-radius: 3px;
	padding: 0 20px;
	font-size: 18px;
	box-sizing: border-box;
}