/vendor

/public/static/psd
/public/uploads/*.*
#/public/uploads/*/*.*
#/public/uploads/cards/*.*
node_modules
less

/usersfiles
/psd

.idea
*.clpprj
Thumbs.db

/app/config/database.php
/app/storage/*.*
/app/storage/logs/*.*
/app/storage/debugbar/*.*
/app/lang/*
/!files
/!info
/bootstrap/compiled.php