/vendor

/public/static/psd
#/public/uploads/*.*
/public/uploads_copy/
#/public/uploads/*/*.*
#/public/uploads/cards/*.*
node_modules
less

/usersfiles
/psd

.idea
*.clpprj
Thumbs.db

app/config/database.php
app/storage/cache/*
app/storage/debugbar/*
app/storage/logs/*
app/storage/meta/*
app/storage/sessions/*
app/storage/views/*
app/storage/*.*
app/lang/*/*
/!files
/!info
/bootstrap/compiled.php