extends layout

block vars
	- var bodyClass = "index-page"

block content
	.error404
		.error404-cont
			.icon
				.fi.icon-sad
			.title 404–ошибка
			.text Страница не найдена.<br>Адрес набран неверно, или страница была удалена.<br>Перейти <a href="#">на главную</a>.


