extends layout

block vars
	- var bodyClass = "index-page"

block content
	.profile-page
		.wrapper
			.normal-wrapper
				.normal-title.ta-center Представьте мир, в котором люди выполняют все свои обещания
				.normal-text
					p.normal-quote «Обещаю быть с тобой в горе и радости, хранить верность, любить и уважать» — раз и навсегда. «Принимая на себя почётное бремя государственного служащего, клянусь: быть честным, отзывчивым, и ответственным защитником интересов соотечественников» — никак по-другому.<br>«Я тебя дождусь!» — так и будет.<br>«Конечно, мам, буду каждый день звонить» — сделано!  
					p.min-title Перемены к лучшему начинаются внутри и дарят силу для того, чтобы идти вперед.
					p <a href="http://MyPromises.ru">www.MyPromises.ru</a> — сервис, который поможет выполнять любые данные обещания. Данные, в первую очередь, самим себе.
					p Три простых шага: 
					ul.normal-ul
						li сформулируйте намерение, 
						li установите срок и 
						li честно зафиксируйте результат, когда наступит dead-line. 
					p Поделитесь обещанием в соц. сетях, и друзья смогут поддержать вас - проверить крепость вашего слова, порадоваться успехам или вдохновиться вашим примером.
					p Обещание можно оставить невидимым для других пользователей <a href="http://MyPromises.ru">www.MyPromises.ru</a> – достаточно изменить настройки приватности в своем профиле. А чтобы вы не забыли о сроках выполнения данных обещаний, сервис будет периодически напоминать вам о них по email.
					p Что обещают ваши друзья? Какие самые популярные обещания в этом году у россиян? Чье слово крепче, чем любая валюта? – на все эти вопросы ответит MyPromises.
					p Сдерживая свои обещания, мы становимся сильнее и обретаем уверенность. Начните прямо сейчас — пообещайте стать лучше в Новом году. 
					p.normal-autor Мы обещаем, вам понравится!<br>MyPromises.ru 


