block vars
    - var title = "Splat"
    - var bodyClass = ""

doctype html
head
    meta(charset='utf-8')
    title #{title}
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='shortcut icon', href='/favicon.ico')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css(.) styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='bower_components/fotorama/fotorama.css')
    // endbower
    // endbuild
    // build:css(.tmp) styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
    // build:js scripts/vendor/modernizr.js
    script(src='bower_components/modernizr/modernizr.js')
    // endbuild

  body(class="#{bodyClass}")
    //if lt IE 10 You are using an strong outdated browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.

    header.main-header.bordered
        .wrapper
            .user-links
                a(href="#")
                    span.js-open-box(data-box="auth") Войти
                a(href="#")
                    span.js-open-box(data-box="auth") Зарегистрироваться
            ul.soc-links
                li
                    a(href="#").soc-icon
                        i.fi.icon-fb
                li
                    a(href="#").soc-icon
                        i.fi.icon-vk
                li
                    a(href="#").soc-icon
                        i.fi.icon-ok

            .logo-text Мои обещания
            .header-desc
                .desc-cont Обещания не просто слова. Когда о них говорят дела

    block content

    footer.main-footer
        .wrapper
            .footer-block.left-logo
                span Мои<br>Обещания
            .footer-block
                ul.footer-links
                    li
                        a(href="#") О проекте
                    li
                        a(href="#") Правила использования
            .footer-block
                span Поделиться с друзьями:
                ul.footer-soc
                    li
                        a(href="#").soc-icon
                            i.fi.icon-fb
                    li
                        a(href="#").soc-icon
                            i.fi.icon-vk
                    li
                        a(href="#").soc-icon
                            i.fi.icon-twitter
            .footer-block.right-logo

    .overlay-shadow
    .overlay
        .popup.auth-popup.js-pop-up(data-box="auth")
            a(href="#").popup-close.js-pop-close
                span
            .wrapper
                .title.js-promise-title(style="display: none;")
            .form-block
                .wrapper
                    .desc Для того, чтобы сохранить ваше обещание, вам необходимо зарегистрироваться на нашем сайте<br>с помощью одной из этих социальных сетей:
                    ul.soc-auth
                        a(href="#").soc-fb <i class="fi icon-fb"></i>Facebook
                        a(href="#").soc-vk <i class="fi icon-vk"></i>Вконтакте
                        a(href="#").soc-ok <i class="fi icon-ok"></i>Одноклассники
                    .desc или с помощью адреса электронной почты:
                    .form-inputs.js-pop-form(data-type="auth")
                        form
                            input(type="hidden" name="promise-text")
                            .input-cont
                                input(placeholder="Эл. почта")
                            .input-cont
                                input(placeholder="Пароль")
                            .btns
                                button.us-btn Войти
                                a(href="#").right-link.js-form-pass восстановить пароль

                    .form-inputs.js-pop-form(data-type="pass" style="display: none;")
                        form
                            .input-cont
                                input(placeholder="Эл. почта")
                            .btns
                                button.us-btn Восстановить

            .wrapper
                ul.auth-desc
                    li.about-soc
                        span.icon
                        span.text Выберите ту социальную сеть, в которой сможете рассказать о данном вами обещании.
                    li.about-dif
                        span.icon
                        span.text У вас появится возможность выбрать различные варианты оформления карточек с обещаниями.
                    li.about-sav
                        span.icon
                        span.text Вы сможете сохранить ваше обещание, а мы будем напоминать вам о нем.
                    li.about-new
                        span.icon
                        span.text В новогоднюю ночь сбываются чудеса, а люди во всем мире дают друг другу обещания, которые порой так трудно исполнить.
        .popup.promo-popup.js-pop-up(data-box="promo")
            a(href="#").popup-close.js-pop-close
                span
            .promo-box
                .logo
                .text Мы обещаем, что через месяц использования зубных средств <b>innova</b><br>ваши зубы станут менее чувствительными, эмаль восстановится,<br>а вы почувствуете уверенность в себе и раскрепощённость.
                .spec-link
                    a(href="http://ru.innova-oralcare.com/" target="_blank") Узнать больше


    // build:js(.) scripts/vendor.js
    // bower:js
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/fotorama/fotorama.js')
    script(src='bower_components/get-style-property/get-style-property.js')
    script(src='bower_components/get-size/get-size.js')
    script(src='bower_components/eventie/eventie.js')
    script(src='bower_components/doc-ready/doc-ready.js')
    script(src='bower_components/eventEmitter/EventEmitter.js')
    script(src='bower_components/matches-selector/matches-selector.js')
    script(src='bower_components/outlayer/item.js')
    script(src='bower_components/outlayer/outlayer.js')
    script(src='bower_components/masonry/masonry.js')
    script(src='bower_components/jquery-ui/jquery-ui.js')
    script(src='bower_components/jQuery-Mask-Plugin/dist/jquery.mask.js')
    // endbower
    // endbuild
    // build:js({app,.tmp}) scripts/main.js
    script(src='scripts/main.js')
    // endbuild

    block scripts
