extends layout

block vars
	- var bodyClass = "index-page"

block content
	.profile-page
		.wrapper
			.profile-card
				.profile-photo(style="background-image: url(http://img0.liveinternet.ru/images/attach/c/6/102/827/102827412_1346919545_0107400x320.jpg);")
				.profile-info
					.info-cont
						.name
							span Кирилл Черенков
							a(href="#").us-link Редактировать
						.age 28 лет
				.btn-cont
					a(href="#").us-btn Дать обещание
				
			.promises-title.us-title Мои обещания
			.little-title Мои обещания
		ul.promises-list
			li.promise-item.type-aqua
				.promise-content
					.title ЛЕТОМ СЬЕЗЖУ С РОДИТЕЛЯМИ НА РЫБАЛКУ
					.bottom-block
						.top-floor
							.eye.eye-cross
						.bottom-floor
							.views 15
							.comments 2
							.time 02:01:23
			li.promise-item.type-promo
				.promise-content
					.logo
					.text
						p Каждый раз, выполняя обещания,<br> вы становитесь чуточку лучше.
						p Мы тоже хотим вам пообещать<br><a href="#" class="js-open-box" data-box="promo">кое-что</a>
			li.promise-item.type-green
				.promise-content
					.title ЛЕТОМ СЬЕЗЖУ С РОДИТЕЛЯМИ НА РЫБАЛКУ
					.bottom-block
						.top-floor
							.eye(data-tooltip="143 человека оставили свои комментарии")
						.bottom-floor
							.views 15
							.comments(data-tooltip="143 человека оставили свои комментарии") 2
							.time 02:01:23
			li.promise-item.type-yellow
				.promise-content
					.title ЛЕТОМ СЬЕЗЖУ С РОДИТЕЛЯМИ НА РЫБАЛКУ
					.bottom-block
						.top-floor
							.eye
						.bottom-floor
							.views 15
							.comments 2
			li.promise-item.type-blue
				.promise-content
					.title ЛЕТОМ СЬЕЗЖУ С РОДИТЕЛЯМИ НА РЫБАЛКУ
					.bottom-block
						.top-floor
							.eye
						.bottom-floor
							.views 15
							.comments 2
							.smile
			li.promise-item.type-pink
				.promise-content
					.title ЛЕТОМ СЬЕЗЖУ С РОДИТЕЛЯМИ НА РЫБАЛКУ
					.bottom-block
						.top-floor
							.eye
						.bottom-floor
							.views 15
							.comments 2
							.unsmile
			//- li.promise-promo
			//- 	.title ЛЕТОМ СЬЕЗЖУ С РОДИТЕЛЯМИ НА РЫБАЛКУ
			//- 	.bottom-block
			//- 		.top-floor
			//- 			.eye
			//- 		.bottom-floor
			//- 			.views 15
			//- 			.comments 2
		.wrapper
			.little-title Мои обещания
		ul.promises-list
			li.promise-item.type-green
				.promise-content
					.title ЛЕТОМ СЬЕЗЖУ С РОДИТЕЛЯМИ НА РЫБАЛКУ
					.bottom-block
						.top-floor
							.eye
						.bottom-floor
							.views 15
							.comments(data-tooltip="143 человека оставили свои комментарии") 2
							.time 02:01:23
			li.promise-item.type-aqua
				.promise-content
					.title ЛЕТОМ СЬЕЗЖУ С РОДИТЕЛЯМИ НА РЫБАЛКУ
					.bottom-block
						.top-floor
							.eye.eye-cross
						.bottom-floor
							.views 15
							.comments 2
							.time 02:01:23
			li.promise-item.type-promo
				.promise-content
					.logo
					.text
						p Каждый раз, выполняя обещания,<br> вы становитесь чуточку лучше.
						p Мы тоже хотим вам пообещать<br><a href="#" class="js-open-box" data-box="promo">кое-что</a>
			li.promise-item.type-yellow
				.promise-content
					.title ЛЕТОМ СЬЕЗЖУ С РОДИТЕЛЯМИ НА РЫБАЛКУ
					.bottom-block
						.top-floor
							.eye
						.bottom-floor
							.views 15
							.comments 2
			li.promise-item.type-blue
				.promise-content
					.title ЛЕТОМ СЬЕЗЖУ С РОДИТЕЛЯМИ НА РЫБАЛКУ
					.bottom-block
						.top-floor
							.eye
						.bottom-floor
							.views 15
							.comments 2
							.smile
			li.promise-item.type-pink
				.promise-content
					.title ЛЕТОМ СЬЕЗЖУ С РОДИТЕЛЯМИ НА РЫБАЛКУ
					.bottom-block
						.top-floor
							.eye
						.bottom-floor
							.views 15
							.comments 2
							.unsmile
			//- li.promise-promo
			//- 	.title ЛЕТОМ СЬЕЗЖУ С РОДИТЕЛЯМИ НА РЫБАЛКУ
			//- 	.bottom-block
			//- 		.top-floor
			//- 			.eye
			//- 		.bottom-floor
			//- 			.views 15
			//- 			.comments 2
		.friends
			.wrapper
				.us-title Мои друзья <sup>8</sup>
			ul.friends-list
				each i in [1,2,3,4,5,6,7,8,9]
					li.friend-item
						a(href="#").clean-a.profile-photo(style="background-image: url(http://img0.liveinternet.ru/images/attach/c/6/102/827/102827412_1346919545_0107400x320.jpg);")
						a(href="#").clean-a.name Анастасия Коротец


