extends layout

block vars
	- var bodyClass = "index-page"

block content
	.promise-make.promise-page.type-blue
		.wrapper
			.profile-card
				.profile-photo(style="background-image: url(http://img0.liveinternet.ru/images/attach/c/6/102/827/102827412_1346919545_0107400x320.jpg);")
				.profile-info
					.info-cont
						.name
							span Кирилл Черенков
						.age 28 лет
			.promise-info
				.promise-report
					.rep-title <i class="fi icon-okey"></i><span>Отчет о выполнении</span>
					.rep-content "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
					.rep-content "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
				.promise-text Научусь садиться на поперечный шпагат
				.promise-time
					i.fi.icon-progress
					span.time-day <span>1</span> день
					span.time-time 00:02:43
				.progress-btns
					button.pr-btn.active
						i.fi.icon-smile
						span Выполнено
					button.pr-btn
						i.fi.icon-unsmile
						span Отказаться
					button(data-href="http://google.com").pr-btn.js-smart-btn
						span.btn-text Удалить обещание
						span.abs-hint Вы уверены?
						span.fi-links
							a(href="#").fi.icon-okey.fi-link.js-yes
							a(href="#").fi.icon-no.fi-link.js-no
					.promise-soc
						span Расскажи об обещании:
						ul.soc-ul
							li
								a(href="#").soc-icon
									i.fi.icon-fb
							li
								a(href="#").soc-icon
									i.fi.icon-vk
							li
								a(href="#").soc-icon
									i.fi.icon-twitter
				.clearfix
	.promo-block
		.wrapper
			.logo
			.text Каждый раз, выполняя обещания, вы становитесь чуточку лучше. Мы тоже хотим вам пообещать <a href="#">кое-что</a>
	.wrapper
		ul.comments-list
			each i in [1,2,3]
				li.comment
					.profile-photo(style="background-image: url(http://img0.liveinternet.ru/images/attach/c/6/102/827/102827412_1346919545_0107400x320.jpg);")
					.comment-content
						.name
							span Яна Блидер
							a(href="#").delete-comment
								i.fi.icon-cross
						.text Блять, я очень рада что ты решил удлиннить свой член
						.delete-comment.js-smart-btn
							a(href="#") Удалить комментарий
							span.delete-confirm
								a.conf-text Вы уверены?
								a(href="#").js-yes Да
								a(href="#").js-no Нет
	.leave-comment
		.wrapper
			.profile-photo(style="background-image: url(http://img0.liveinternet.ru/images/attach/c/6/102/827/102827412_1346919545_0107400x320.jpg);")
			.comment-form
				.textarea-cont
					textarea.input-class
				.us-btn Оставить комментарий

block scripts
	script.
		//- SplatSite.Promise();
