extends layout

block vars
	- var bodyClass = "index-page"

block content
	.sitemap
		.wrapper
			.sitemap-cont
				.map-title Карта сайта
				ul.map-links
					li
						a(href="#") Главная страница
					li
						a(href="#") Правила пользования
					li
						a(href="#") О проекте
					li
						a(href="#") Обратная связь
					li
						a(href="#") Карта сайта


