extends layout

block vars
	- var bodyClass = "index-page"

block content
	.profile-page
		.wrapper
			.normal-wrapper
				.normal-title О проекте
				.normal-text
					p Сеть магазинов РЕСПУБЛИКА* — это принципиально новые для России книжные магазины, отличающиеся своей уникальностью, выверенным ассортиментом товара, качеством обслуживания и современным дизайном.
					p В 2006 году в Москве на 1-й Тверской-Ямской, дом 10 появился первый магазин РЕСПУБЛИКА* совершенно нового формата, смело совместивший в себе книги, музыку, кино, арт альбомы, полезно-стильную канцелярию, предметы Lifestyle и подарки со смыслом и качеством.
					p Магазины РЕСПУБЛИКА* располагают не только к покупкам, но и к проведению досуга. Вы можете посетить концерты любимых исполнителей или попасть на автограф-сессию своих кумиров, приобрести знания на лекциях и мастер-классах профессиональных мастеров по любым направлениям совершенно бесплатно.
					p РЕСПУБЛИКА* задаёт стиль жизни!


