.invite-info {
  font-size: 18px;
  font-weight: 300;
  color: rgb(68, 68, 68);
  line-height: 1.4;
  width: 560px;
  margin-top: 30px;

  p {
    margin: 10px 0;
  }

  .inv-form {
    margin-top: 40px;

    .us-input {
      background: #f6f6f6;
      margin-bottom: 20px;
    }
  }
}

.profile-invite {
  height: auto !important;
  margin-bottom: 150px;
  padding-top: 15px;
}

.show-more-friends {
  color: inherit;
}

.index-promise-input {
  position: relative;

  .promise-placeholder {
    position: absolute;
    color: #A8A8A8;
    line-height: 71px;
    top: 0;
    left: 40px;
    font-size: 24px;
  }

  input {
    padding-left: 165px !important;
  }
}

.make-promise-placeholder {
  position: relative;

  .promise-placeholder {
    position: absolute;
    color: #A8A8A8;
    line-height: 87px;
    top: 0;
    left: 30px;
    font-size: 24px;
  }

  textarea {
    text-indent: 145px;
  }
}

.input-title {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
}

.restore-form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -240px;
  width: 480px;
  height: 200px;

  .us-input {
    background: #f6f6f6;
    height: 65px;
    margin-bottom: 20px;
  }
}

.restore-block {
  width: 425px;
}

.input-container {
  margin: 20px 0;

  input {
    background: #f6f6f6;
  }
}

.check-dark {
  background: #e5e5e5 !important;
}