.promise-page {
	padding: 1px 0 50px;

	.promise-text {
		font-size: 48px;
		font-weight: 700;
		text-transform: uppercase;
		margin-top: 55px;
		width: 630px;
		line-height: 1.3;
	}

	.promise-time {
		margin-top: 40px;
		font-size: 48px;
		font-weight: 300;

		.time-day, .time-time {
			margin-left: 20px;
		}
	}

	.progress-btns {
		margin-top: 45px;
	}

	.promise-soc {
		display: inline-block;
		vertical-align: middle;
		font-size: 12px;

		& > span {
			display: inline-block;
			vertical-align: middle;
		}

		.soc-ul {
			display: inline-block;
			margin: 0;
			padding: 0;
			list-style: none;
			margin-left: 5px;
			font-size: 0;

			li {
				display: inline-block;
				vertical-align: middle;
				font-size: 13px;
				margin-left: 5px;

				.soc-icon {
					display: inline-block;
					vertical-align: middle;
					width: 20px;
					height: 20px;
					line-height: 20px;
					border-radius: 20px;
					text-align: center;
					text-decoration: none;
					color: #56565b;
					background: rgba(255, 255, 255, 1);
					transition: background $default-anim-time $default-ease;

					&:hover {
						background: rgba(255, 255, 255, .44);
					}

					.fi {
						line-height: 20px;
					}
				}
			}
		}
	}
}

.comments-list, .leave-comment {
	.profile-photo {
		height: 70px;
		width: 70px;
	}
}

.comments-list {
	margin: 0;
	padding: 0;
	list-style: none;

	.comment {
		padding: 35px 0 45px;
		border-bottom: 1px solid #ededed;

		&:last-child {
			border: 0;
		}

		.comment-content {
			display: inline-block;
			vertical-align: top;
			width: 635px;
			margin: 10px 0 0 20px;
			font-size: 15px;

			.name {
				margin-bottom: 5px;
				font-weight: 500;
			}

			.text {
				font-weight: 300;
			}

			.delete-comment {
				a {
					display: inline-block;
					vertical-align: middle;
					margin-top: 5px;
					text-decoration: none;
					font-size: 10px;
					color: #AEABAB;
					margin-right: 15px;
					transition: color $default-anim-time $default-ease;

					&:hover {
						color: #444;
					}
				}

				.delete-confirm {
					display: none;
				}

				.conf-text {
					color: #444;
				}

				&.clicked {
					& > a {
						display: none;
					}

					.delete-confirm {
						display: inline-block;
					}
				}
			}
		}
	}
}

.pr-btn {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	outline: 0;
	border: 2px solid #fff;
	background: transparent;
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	height: 42px;
	border-radius: 42px;
	text-decoration: none;
	margin-right: 20px;
	padding: 0 20px;
	box-sizing: border-box;
	transition: all $default-anim-time $default-ease;

	&:hover, &.active {
		border-color: #434546;
		color: #434546;
	}

	span {
		display: inline-block;
		vertical-align: middle;
	}

	.fi {
		display: inline-block;
		vertical-align: middle;
		font-size: 25px;
		margin-right: 10px;
	}

	.abs-hint {
		position: absolute;
		top: -25%;
		left: 0;
		right: 0;
		opacity: 0;
		transition: all $default-anim-time $default-ease;
		color: #fff !important;
	}

	.fi-links {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		line-height: 38px;
		opacity: 0;
		transition: all $default-anim-time $default-ease;

		.fi-link {
			margin: 0 10px;
			font-size: 30px;
			color: #fff !important;
			text-decoration: none;
			transition: all $default-anim-time $default-ease;
		}
	}

	.btn-text {
		transition: opacity $default-anim-time $default-ease;
	}

	&.clicked {
		border-color: transparent;
		color: #fff !important;

		.abs-hint {
			opacity: 1;
			top: -75%;
		}

		.fi-links {
			opacity: 1;

			.fi-link {
				margin: 0 20px;

				&:hover {
					color: #434546 !important;
				}
			}
		}

		.btn-text {
			opacity: 0;
		}
	}
}

a.pr-btn, div.pr-btn {
	line-height: 38px;
}

.bottom-floor {
	.pr-btn {
		padding: 0 5px;
		border-width: 1px;
		height: 35px;
		line-height: 35px;
		font-size: 15px;
		margin-right: 0;
		margin-left: 10px;

		.fi {
			margin-right: 5px;
		}

		@media only all and (max-width: 1390px) {
			border: none;
			padding: 0;
			margin-left: 20px;

			span {
				display: none;
			}

			.fi {
				margin-right: 0;
			}
		}
	}
}

.leave-comment {
	padding: 45px 0;
	background: #ededed;

	.comment-form {
		display: inline-block;
		vertical-align: top;
		width: 635px;
		margin: 0 0 0 20px;
		font-size: 15px;

		.us-btn {
			margin-top: 20px;
		}

		.textarea-cont {
			textarea {
				padding: 20px;
				resize: none;
				width: 100%;
				height: 120px;
			}
		}
	}
}